body {
	opacity: 0;
}

#banner {
	padding: 20px;
}

#features-wrapper {
	padding-top: 20px;
}

#features-wrapper .container > h2 {
    margin-bottom: 49px;
    font-size: 1.8em;
    color: white;
}

#features h2:before {
	content: '<';
}

#features h2:after {
	content: '>';
}

pre,
.pre {
	font-family: Consolas,monospace;
	padding: 10px;
	margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.1);
    /*border: 1px solid rgba(255,255,255, 0.2);*/
    font-size: 16px;
    word-wrap: break-word;
    text-align: left;
	line-height: normal;
}

pre.mid,
.pre.mid {
	font-size: 13px;
	line-height: normal;
}

pre.small,
.pre.small {
	font-size: 12px;
	line-height: normal;
	background: none;
}

.homepage-example {
	width: 100%;
    height: 150px;
    background: rgba(255,255,255,0.1);
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}


.moving-box,
.rotating-box,
.timeline-box,
.drag-box {
	width: 30px;
	height: 30px;
	background: rgba(0,0,0, 0.5);
	position: relative;
	top: 10px;
	left: 10px;
	margin-bottom: 3px;
}

.moving-list {
	margin-left: 10px;
	color: white;
}
.moving-list li {
	font-size: 0.8em;
    font-family: arial;
    text-shadow: none;
    font-weight: normal;
    color: black;
}

.moving-box {
	border-radius: 20px;
}

.timeline-box {
	width: 50px;
	border-radius: 20px;
}

.drag-box {
	border-radius: 20px;
}

.drag-box2 {
	margin-top: 20px;
	border-radius: 0;
	width: 50px;
	cursor: move;
}

.homepage-example button {
	border: 0;
	color: white;
	background: rgba(0,0,0, 0.3);
	position: absolute;
	bottom: 10px;
	left: 10px;
	padding: 5px 10px;
	cursor: pointer;
	line-height: 16px;
}

.flex,
.flex-row,
.flex-column-center {
	display: flex;
	justify-content: center;
}

.flex-column-center {
	flex-direction: column;
	align-items: center;
}

.flex-row {
	justify-content: center;
	align-items: stretch;
}

@media screen and (max-width: 736px) {
	.flex-row {
		flex-direction: column;
	}
	.flex-row section {
		width: 100%;
	}
}

.tag-list li {
	display: inline;
}

.tag-list li a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.75);
    text-decoration: none;
    width: 106px;
    display: inline-block;
    text-align: center;
    background: rgba(255, 255, 255, 0.08);
    margin-bottom: 1px;
    margin-right: 1px;
	float: left;
	text-shadow: none;
}
.tag-list li a:before {
	content: '<';
}
.tag-list li a:after {
	content: '>';
}

.tag-list li a:hover {
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255,255,255, 0.5);
}

span.your-value select,
span.your-value input[type="text"],
ul.api-list,
.example-switcher select,
#content .properties h3,
#content .inherited h3 {
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
}


ul.api-list li:first-child {
	border-bottom: 1px dashed #e2e6e8;
	/*font-weight: bold;*/
	margin-bottom: 15px;
	color: inherit;
}

ul.api-list li:last-child {
	margin-bottom: 25px;
}

ul.api-list li:first-child .property{
	color: black;
}

li.api-item {
	line-height: 25px;
}

li.api-item:hover{
	background: #f5f5f5;
}
.properties h3,
.inherited h3 {
	/*border-bottom: 1px solid white;*/
}
.properties h3:hover,
.inherited h3:hover {
	background: #f5f5f5;
}
.properties h3.open,
.inherited h3.open {
	background: #f5f5f5;
}

.properties h3:hover,
.inherited h3:hover {
	cursor: pointer;
}

span.property,
span.type,
span.default-label,
span.default-value,
span.inherited-from {
	display: inline-block;
    width: 154px;
	padding: 0 10px;
}

span.inherited-from {
	width: 150px;
}

span.type {
    width: 80px;
}

span.default-label {
	width: 60px;
}

span.default-value {
	width: 130px;
	text-align: center;
	margin-right: 10px;
}
input[type="text"],
select {
	padding: 2px 3px;
	width: 120px;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	margin: 0;
	border: 1px solid #dedede;
}

span.your-value select {
	width: auto;
	padding: 3px 3px; 
}

span.your-value input.Number {
	width: 50px;
}

#fx-example {
	margin-top: 20px;
	font-family: monospace;
	background: #f5f5f5;
	padding: 10px;
	font-size: 12px;
	line-height: normal;
}

.tag-name {
	color: #0000e6;
}
span.property,
.tag-attribute {
	color: #ce7b00;
}
.attribute-value {
	color: black;
}

.relative {
	position: relative;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
.clearfix:before,
.clearfix:after {
	content: '';
    display: block;
    clear: both;
    height: 0;
}

syntax-switcher {
	display: inline-block;
	margin-bottom: 10px;
}
.example-switcher span {
	display: inline-block;
	margin-right: 9px;
}
syntax-switcher span {
	margin-right: 20px;
	line-height: normal;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	border: 1px solid #ccc;
	margin: 0 1px;
	line-height: normal;
	padding: 5px 10px;
	cursor: pointer;
	background: #e2e6e8;
}

button:hover {

}

button[value="js"].html, 
button[value="html"].js {
	background: none;
	border-color: transparent;
	text-decoration: underline;
}

button[value="html"].html, 
button[value="js"].js {
	/*background: #ce7b00;*/
}

.example-area {
	border: 1px solid #e2e6e8;
    padding: 20px;
    margin-top: -10px;
	overflow: hidden;
}

h3 {
	position: relative;
}

h3 span {
	pointer-events: none;
}

.api-list {
	margin-bottom: 0;
}

.api-lists input[type="checkbox"] {
	position: relative;
	top: 2px;
}

.api-lists h3,
.api-lists h3:first-child,
.api-lists h3:last-child {
	border-top: 1px solid #f5f5f5;
}

.api-lists h3:after {
	content: ' ';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    position: absolute;
    right: 10px;
    top: 15px;
}

.api-lists h3.open:after {
	content: ' ';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid black;
    position: absolute;
    right: 10px;
    top: 10px;
}

h3 + ul {
	display: none;
	/*height: 0;*/
	overflow: hidden;
}

h3.open + ul {
	/*display: block;*/
}

expand-collapse {
	margin-bottom: -32px;
    margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
expand-collapse .divider {
	display: inline-block;
    font-size: 5px;
    line-height: normal;
}

expand-collapse button {
	border: none;
	background: none;
}
expand-collapse button:hover {
	text-decoration: underline;
}